@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    height: 100%;
    color: #333;
}

header {
    margin: 60px auto;
    width: 70%;
}

.container {
    margin: auto;
    width: 70%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navicon {
    display: inline;
    height: 36px;
    margin-bottom: -14px;
}

.note {
    color: #999;
}

p {
    text-align: justify;
}

ul {
    line-height: 1.6em;
}

ul li {
    margin-bottom: .2em;
}

footer {
    margin: auto;
    margin-bottom: 20px;
    width: 70%;
    clear: both;
    text-align: center;
}

nav ul, footer ul {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    padding: 0px;
    list-style: none;
}

footer ul {
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #75aaff;
    transition: color 0.2s;
}

a:hover {
    color: #3978cd;
}

nav a, footer a {
    color: #999;
}

h1, h2, h3 {
    font-weight: 500;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 0;
    color: #000;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0;
}

h3 {
    color: #666;
    margin-bottom: -8px;
}

p {
    font-size: 1em;
    line-height: 1.6em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

figure.flag {
    display: inline-block;
    max-width: 300px;
    vertical-align: top;
}

figure.flag img {
    max-width: 300px;
}

figcaption {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    color: #444;
    margin-top: 0.5em;
}

@media only screen and (max-width: 480px) {
  .container, header {
    width: 90%;
  }
}